recursive-include tests *.py README *.c *.h Makefile
recursive-include examples *.py README *.png
recursive-include pgi *.py
include benchmarks/*.py
include setup.py
include README.rst
include COPYING
