Source: pypgi
Section: python
Priority: optional
Maintainer: Christoph Reiter <reiter.christoph@gmail.com>
Standards-Version: 3.9.3
Homepage: https://github.com/lazka/pgi
Build-Depends: python-all, debhelper (>= 8)

Package: python-pgi
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Pure Python GObject Introspection Bindings
 This package contains the Python 2.x binding generator for libraries that
 support gobject-introspection.
